version: "3.9"
services:
  nodejs:
    build:
      dockerfile: docker/frontend/Dockerfile
  db:
    build:
      dockerfile: docker/db/Dockerfile
    environment:
      - POSTGRES_PASSWORD="${DB_PASSWORD}"
    ports:
      - "5432:5432"
  web:
    build:
      dockerfile: docker/backend/Dockerfile
    env_file:
      - .env
    command: "rails s -p 3000 -b '0.0.0.0' -e ${ENVIRONMENT}"
    volumes:
      - .:/App
    ports:
      - "3000:3000"
    depends_on:
      - db
      - nodejs
