h1{
    text-align: center;
    margin: 20px;
}

.authentication {
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 10px;
}

.authenticationLinks{
    font-size: 20px;
    text-align: center;
}


input[type="email"], input[type="password"]{
    margin-bottom: 30px;
    padding-left: 5px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 2px solid #8B00FF;
    box-shadow: 2px 2px 2px  #dfdfdf, -2px -2px 2px #dfdfdf;
}
label{
    font-size: 20px;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #8b00ff;
    border-bottom: 4px solid #8b00ff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #8b00ff;
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
    opacity: 1;
}

input[type="submit"], button{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    font-size: 18px;
}

button{
    background-color: red;
    color: white;
}

button:hover{
    background-color: #790c0c;
    cursor: pointer;
}

input[type="submit"]{
    background-color: #8B00FF;
    color: white;
}

input[type="submit"]:hover{
    background-color: #7C00AF;
    cursor: pointer;
}
