.roomTitle {
    padding-left: 5px;
    cursor: pointer;
    font-size: 1.4rem;
}

.roomTitle:hover {
    color: #0c1f43;
}

.bookingWrapper {
    font-family: 'Trebuchet MS', sans-serif;
}

.roomsFilter {
    max-width: 320px;
    margin-left: 5px;
}

.roomsList {
    width: 100%;
}

.room {
    font-weight: 400;
    display: block;
    margin-bottom: 0.5rem;
    background-color: #ffffff;
    color: #173166;
    border: 1px solid #ECEFF1;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
}

.placesList {
    display: flex;
    flex-wrap: wrap;
}

.place {
    display: block;
}

.bookingButton {
    margin: 5px;
    width: 100px;
    padding: 5px;
    background-color: #416093;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    line-height: 26px;
    cursor: pointer;
    font-size: 16px;
}

.bookingButton:hover {
    cursor: pointer;
    background-color: #94a412;
}

.wrapper {
    width: 230px;
}

.bookingLabel {
    font-weight: 400;
    display: block;
    color: #f7f7f7;
    border: 1px solid #ECEFF1;
    padding: 0.5rem 0.75rem;
    background-color: #173166;
    border-radius: 0.5rem;
}

.bookingInput, .officePicker {
    font-family: 'Trebuchet MS', sans-serif;
    display: block;
    background-color: #f7f7f7;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #727272;
    width: 100%;
    margin-top: 0.5rem;
}

.bookingInput:focus, .officePicker:focus {
    outline: none;
}

.officePicker {
    appearance: none;
    border: none;
    outline: none;
}

.horLine {
    display: block;
    content: "";
    height: 35px;
    margin-top: -32px;
    border-style: solid;
    border-color: #63636359;
    border-width: 0 0 1px 0;
    border-radius: 15px;
}

.horTopLine {
    height: 20px;
    border-style: solid;
    margin-bottom: -8px;
    border-color: #63636359;
    border-width: 1px 0 0 0;
    border-radius: 15px;
  }

.lineContainer {
    margin-top: 10px;
}

.lineContainer p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 4px;
}

@media (max-width: 900px) {
    .roomsList {
        margin: 0 10%;
        width: 80%;
    }
}

/* for mobiles */
@media (min-width: 710px) {
    .bookingWrapper{
        display: flex;
        margin: 10px;
    }

    .roomsList {
        margin-left: 35px;
    }
}


@media only screen and (max-width: 700px) and (min-width: 340px)  {
    .roomsList{
        margin-top: 15px;
        margin-left: 5px;
    }

    .lineContainer p {
        font-size: 16px;
    }
}