.favorites { 
  color: #173166;
  font-family: 'Trebuchet MS', sans-serif;

}

h1 {
  margin: 10px;
  text-align: center;
}

.favorite-list{
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  margin: 5px;
  max-width: 500px;
  background-color: #173166;
  padding: 25px;
  border-radius: 4px;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

li {
  margin: 5px;
}

.del_favorite {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #173166;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}
