.favorites { 
  color: #173166;
  font-family: 'Trebuchet MS', sans-serif;

}

.favorites h1 {
  margin: 10px;
  text-align: center;
}

.favorite-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  margin: 5px;
  width: 40%;
  background-color: #173166;
  padding: 25px;
  border-radius: 4px;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
}

.favorites ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.favorites li {
  margin: 5px;
}

.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.273) 0 2px 3px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  padding: 8px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

@media (max-width: 500px) {
  .favorite-list {
    width: 250px;
  }
}
