.footer {
    background-color: #173166;
    margin-top: 10px;
    width: 100%;
    height: 70px;
}

.container {
    margin: 0 auto;
}

@media (min-width: 340px) {
    .container {
        width: 320px;
    }
}

@media (min-width: 500px) {
    .container {
        width: 480px;
    }
}

@media (min-width: 780px) {
    .container {
        width: 760px;
    }
}

@media (min-width: 980px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.copyright {
    width: 50%;
    font-size: 1.3rem;
    float: left;
}
@media (max-width: 600px) {
    .copyright {
        width: 100%;
    }
    .container {
        width: 100%;
    }
}
.copyright p {
    padding-left: 10%;
    color: white;
    font-size: 0.7em;
    line-height: 70px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
@media (max-width: 600px) {
    .copyright p {
        text-align: center;
        padding: 0;
    }
}
.social {
    font-size: 1.2rem;
    width: 50%;
    float: right;
}
@media (max-width: 600px) {
    .social {
        width: 100%;
    }
}
.social a {
    float: left;
    line-height: 70px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
}
.social a:hover {
    background-color: #222;
}
.linkedin {
    background-color: #1e83ae;
    font-size: 1.2em;
    width: 20%;
}
.facebook {
    background-color: #3d5b94;
    font-size: 1.2em;
    width: 20%;
}
.tweeter {
    background-color: #3dacdd;
    font-size: 1.2em;
    width: 20%;
}
.support {
    background-color: #6dcd9a;
    font-size: 0.8em;
    width: 40%;
}
