.topNav {
    font-family: 'Montserrat', sans-serif;
    background-color: #173166;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
}

.topNav a {
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
}

.topNav a:hover {
    background-color: #ddd;
    color: black;
}

.topNav a.active {
    background-color: #8b00ff;
    color: white;
}

.headerNav {
    display: flex;
    margin: 15px;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 300;
}

.topNavRight {
    padding-right: 40px;
}

.topNavLeft {
    padding-left: 3 0px;
}