* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: white;
    background-color: #fffaea;
}

main {
    flex: 1 1 auto;
}

input, select {
    background-color: #505050;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
}

@media (min-width: 340px) {
    .container {
        width: 310px;
    }
}

@media (min-width: 500px) {
    .container {
        width: 480px;
    }
}

@media (min-width: 780px) {
    .container {
        width: 760px;
    }
}

@media (min-width: 980px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1500px;
    }
}
